{% extends 'base.html' %} 
{% load static %}
{% block content %} 


  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>About the Project</h2>
          <p class="mt-4">This website is free to use for both tutors and those searching for tuition. I do not collect comissions. Tutors can place their profile in the site by registering an account. The potential student will then submit an inquiry on a public account thus communicating their phone number to the tutor for further discussions. Registered tutors will also be able to access the assignments page to pick from the open assignments submitted by potential students.</p>
          <p class="mt-4">I wanted to do a project with Django. So I picked up an abandoned website I made with Ayman, Talha and Izzan during a school programme. May it be beneficial. Any suggestions or improvements can be emailed to abdulhakamnr@gmail.com. <a href="https://github.com/adoubleb/ilmconnect">Source Code.</a> See my other activities</p>
        </div>
      </div>
    </div>
  </section>



        
{% endblock %}