{% extends 'base.html' %} 
{% load static %}
{% block content %} 


  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>About ILMCONNECT</h2>
          <p class="mt-4">How to use the website? Tutors have to register an account to publish their profile on the page. Those searching for tuition can send an inquiry through the more info button on the tutor card. An automated email will then be sent to the tutor's registered email with the details in the inquiry form. From there the tutors will follow-up through the contact points you leave. 
          </p><p>If there are no suitable tutors, then you have the option of submitting a task. Submitted tasks will be made openly accesible for all registered tutors. Interested tutors will contact you from the contact points you leave in the task form.
          If a task has been taken up by a tutor, you should delete the task so you do not waste your time and the tutors'.</p>
          <p class="mt-4">This website is free to use. Any suggestions or improvements can be emailed to abdulhakamnr@gmail.com. <a href="https://github.com/adoubleb/ilmconnect">Source Code.</a> Collaborators: Ayman, Talha, Izzan, DevLabs</p>
        </div>
      </div>
    </div>
  </section>



        
{% endblock %}