{% extends 'base.html' %} 

{% block content %} 
<section id="showcase" style="background-image: url(https://cms-assets.tutsplus.com/cdn-cgi/image/width=630/uploads/users/109/posts/33230/image/Final_Tut_June_Geometric_Islamic_Pattern.jpg);">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Ukhrawi + Academic Tuition Searching Made Easy
          </h1>
          <p class="lead">An online repository of ukhrawi & academic tutors in Singapore to link up with</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Subject</label>
                  <select name="subject" class="form-control">
                    <option selected="true" disabled="disabled">Subject</option>
                    {% for key, value in subject_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %} 
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">Level</label>
                  <select name="level" class="form-control">
                    <option selected="true" disabled="disabled">Level</option>
                    {% for key, value in level_choices.items %}
                      <option value="{{ key }}">{{ value}}</option>
                    {% endfor %} 
                  </select>
                </div>

              
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Location</label>
                  <select name="location" class="form-control">
                    <option selected="true" disabled="disabled">Location</option>
                    {% for key, value in location_choices.items %}
                      <option value="{{ key }}">{{ value}}</option>
                    {% endfor %} 
                  </select>
                </div>
                <div class="form-check col-md-2 mb-3">
                  <input class="form-check-input" type="checkbox" value="True" name = "ARS-Certified" id="flexCheckDefault">
                  <label class="form-check-label" for="ARS-Certified">
                    ARS-Certified
                  </label>
                  
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h2 class="text-center mb-3">Latest Tutors</h2>
      <hr>
      <div class="row">
        {% if tutors %}
          {% for tutor in tutors %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 listing-preview">
              <img class="card-img-top" width="120" 
              height="230" src="{{ tutor.photo_main.url }}" alt="No Photo Uploaded">
              <div class="card-body d-flex flex-column">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ tutor.name }}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fa fa-book" aria-hidden="true"></i> Subjects: {{tutor.subjects}}</div>
                  <div class="col-6">
                    <i class="fas fa-map-marker"></i> Locations: {{ tutor.locations }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    {% if tutor.is_ars %}
                      <i class="fas fa-user-check"></i> ARS Certified</div>
                    {% else %}
                      <i class="fas fa-times-circle"></i> Not Certified</div>
                    {% endif %}
                  <div class="col-6">
                    <i class="fas fa-graduation-cap"></i> Education: {{ tutor.education }}</div>
                  </div>
                <hr>

                <a href="{% url 'listing' tutor.id %}" class=" btn btn-primary btn-block mt-auto">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %} 
          <div class="col-md-12">
            <p> No Tutors Available</p>
          </div>
        {% endif %}
        <!-- Listing 1 -->
        
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Want to talk to tutors more?</h3>
          <p>Submit an inquiry through the Tutors page to specific tutors. Tutors will be notified and will contact you via the contact points you leave.</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Can't find a suitable tutor?</h3>
          <p>Consider loosening your conditions or submit an assignment via the assignment submission page. Tutors with accounts will be notified of new assignments.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %} 