{% extends 'base.html' %} 

{% block content %} 
<section id="showcase" style="background-image: url(https://images.indianexpress.com/2015/07/madrasa-7591.jpg);">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Ukhrawi + Academic Tuition Searching Made Easy
          </h1>
          <p class="lead">An online repository of ukhrawi & academic tutors in Singapore to link up with</p>
          <div class="search">
            <form action="search.html">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Subjects</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Subject (Arabic, Fiqh, Math, etc.)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Level</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">Level</option>
                    <option value="AL">Primary</option>
                    <option value="AK">Secondary</option>
                    <option value="AK">Pre-U/JC</option>
                    <option value="AK">Adult</option>
                  </select>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" id="exampleRadios1" value="option1" >
                  <label class="form-check-label" for="exampleRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Female
                  </label>
                </div>
                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-5 mb-3">
                  <label class="sr-only">Location</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">Residence</option>
                    <option value="AL">Admiralty</option>
                    <option value="AK">Ang Mo Kio</option>
                    <option value="AZ">Bishan</option>
                    <option value="AR">Boon Lay</option>
                    <option value="CA">Tampines</option>
                    <option value="CO">Bedok</option>
                    <option value="CT">Pasir Ris</option>
                    <option value="DE">Punggol</option>
                    <option value="DC">Woodlands</option>
                    <option value="FL">Choa Chu Kang</option>
                    <option value="GA">Khatib</option>
                    <option value="HI">Yishun</option>
                    <option value="ID">Jurong East</option>
                    <option value="IL">Jurong West</option>
                    <option value="IN">Sembawang</option>
                    <option value="IA">Novena</option>
                    <option value="KS">Bukit Timah</option>
                    <option value="KY">Orchard Road</option>
                    <option value="LA">Little India</option>
                    <option value="ME">Bukit Batok</option>
                    <option value="MD">Bukit Gombak</option>
                    <option value="MA">Toa Payoh</option>
                  </select>
                </div>
                <div class="col-md-5 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Rate per Hour (Any)</option>
                    <option value="100000">Free</option>
                    <option value="200000">$10</option>
                    <option value="200000">$15</option>
                    <option value="300000">$20</option>
                    <option value="200000">$25</option>
                    <option value="400000">$30</option>
                  </select>
                </div>
                <div class="form-check col-md-2 mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    ARS-Certified
                  </label>
                </div>
                
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Tutors</h3>
      <div class="row">
        <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$490,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">45 Drivewood Circle</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 2500</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 2</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 3</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Kyle Brown</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

        <!-- Listing 2 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-2.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$550,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">18 Jefferson Lane</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Woburn MA, 01801</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3200</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 1</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 4</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2.5</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Mark Hudson</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

        <!-- Listing 3 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-3.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$580,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">187 Woodrow Street</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Salem MA, 01915</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3107</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 0</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 4</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 3</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Mark Hudson</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Want to talk to tutors more?</h3>
          <p>Submit an inquiry through the Tutors page to specific tutors. Tutors will be notified and will contact you via the contact points you leave.</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Can't find a suitable tutor?</h3>
          <p>Consider loosening your conditions or submit an assignment via the assignment submission page. Tutors with accounts will be notified of new assignments.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %} 