{% extends 'base.html' %} 

{% block content %} 
<section id="showcase" style="background-image: url(https://images.indianexpress.com/2015/07/madrasa-7591.jpg);">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Ukhrawi + Academic Tuition Searching Made Easy
          </h1>
          <p class="lead">An online repository of ukhrawi & academic tutors in Singapore to link up with</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-5 mb-3">
                  <label class="sr-only">Subject</label>
                  <select name="subject" class="form-control">
                    <option selected="true" disabled="disabled">Subject</option>
                    {% for key, value in subject_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %} 
                  </select>
                </div>

                <div class="col-md-5 mb-3">
                  <label class="sr-only">Level</label>
                  <select name="level" class="form-control">
                    <option selected="true" disabled="disabled">Level</option>
                    {% for key, value in level_choices.items %}
                      <option value="{{ key }}">{{ value}}</option>
                    {% endfor %} 
                  </select>
                </div>

                
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-5 mb-3">
                  <label class="sr-only">Location</label>
                  <select name="location" class="form-control">
                    <option selected="true" disabled="disabled">Location</option>
                    {% for key, value in location_choices.items %}
                      <option value="{{ key }}">{{ value}}</option>
                    {% endfor %} 
                  </select>
                </div>
                <div class="col-md-5 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Rate per Hour</option>
                    <option value="100000">Free</option>
                    <option value="200000">$10</option>
                    <option value="200000">$15</option>
                    <option value="300000">$20</option>
                    <option value="200000">$25</option>
                    <option value="400000">$30</option>
                  </select>
                </div>
                <div class="form-check col-md-2 mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    ARS-Certified
                  </label>
                </div>
                
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Tutors</h3>
      <div class="row">
        {% if tutors %}
          {% for tutor in tutors %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ tutor.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">{{ tutor.id}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ tutor.name }}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i>Subjects: {{tutor.subjects}}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Location: {{ tutor.location }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Rate: {{ tutor.levels }}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Education: {{ tutor.education }}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                </div>
                <hr>
                <a href="#" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %} 
          <div class="col-md-12">
            <p> No Tutors Available</p>
          </div>
        {% endif %}
        <!-- Listing 1 -->
        
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Want to talk to tutors more?</h3>
          <p>Submit an inquiry through the Tutors page to specific tutors. Tutors will be notified and will contact you via the contact points you leave.</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Can't find a suitable tutor?</h3>
          <p>Consider loosening your conditions or submit an assignment via the assignment submission page. Tutors with accounts will be notified of new assignments.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %} 