{% extends 'base.html' %}
{% block content %}

<section style="background-color: rgba(32, 134, 107, 0.8)" class="text-white py-5">
  <div id="search-tab" class="container" >
    <div class="text-center">
      <div class="search">
        <form action="{% url 'search' %}">
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label class="sr-only">Subject</label>
                <select name="subject" class="form-control">
                  <option selected="true" disabled="disabled">Subject</option>
                  {% for key, value in subject_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.subject %}
                      selected
                    {% endif %}>
                      {{ value }}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only">Level</label>
                <select name="level" class="form-control">
                  <option selected="true" disabled="disabled">Level</option>
                  {% for key, value in level_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.level %}
                      selected
                    {% endif %}>
                      {{ value}}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only">Location</label>
                <select name="location" class="form-control">
                  <option selected="true" disabled="disabled">Location</option>
                  {% for key, value in location_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.location %}
                      selected
                    {% endif %}>
                    {{ value}}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="form-check col-md-2 mb-3">
                <input class="form-check-input" type="checkbox" value="True" name = "ARS-Certified" id="flexCheckDefault">
                <label class="form-check-label" for="ARS-Certified">
                  ARS-Certified
                </label>
              </div>
              <button class="btn btn-secondary btn-block mt-0" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</section>
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Browse Tutors</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        {% if tutors %}
        {% for tutor in tutors %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card h-100 listing-preview">
            <img class="card-img-top" width="120" 
            height="230" src="{{ tutor.photo_main.url }}" alt="No Photo Uploaded">
            <div class="card-body d-flex flex-column">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ tutor.name }}</h4>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fa fa-book" aria-hidden="true"></i> Subjects: {{tutor.subjects}}</div>
                <div class="col-6">
                  <i class="fas fa-map-marker"></i> Locations: {{ tutor.locations }}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  {% if tutor.is_ars %}
                    <i class="fas fa-user-check"></i> ARS Certified</div>
                  {% else %}
                    <i class="fas fa-times-circle"></i> Not Certified</div>
                  {% endif %}
                <div class="col-6">
                  <i class="fas fa-graduation-cap"></i> Education: {{ tutor.education }}</div>
                </div>
              <hr>

              <a href="{% url 'listing' tutor.id %}" class=" btn btn-primary btn-block mt-auto">More Info</a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %} 
        <div class="col-md-12">
          <p> No Tutors Available</p>
        </div>
      {% endif %}
    </div>

  </section>
{% endblock %} 